<div id="footer">
  <div class="link">
    <ul id="nav">
      <li>
        <a href="#">ホーム</a>
      </li>
      <li>
        <a href="#">給与計算</a>
      </li>
      <li>
        <a href="#">メニュー</a>
      </li>
      <li>
        <a href="#">メニュー</a>
      </li>
    </ul> 
  </div>
</div>